/* 5. =TYPOGRAPHY
=================================================== */

p,dl,ol,ul,td,th {
}

p {
}

h1,.h1 {
}

h2,.h2 {
}

h3,.h3,caption {
}

h4,.h4, h5,.h5, h6,.h6 {
}

ul ul,ul ol {
	font-size:1em;
}

dl,ol,ul,fieldset,figure,table {
	margin:1.615385em 0;
}

dl,ol,ul {
    margin-right:4em;
    margin-left:4em;
}

ul.square {
	list-style: square;
}

ul.circle {
	list-style: circle;
}

ul.disc {
	list-style: disc;
}

ol.lower-alpha {
	list-style:lower-alpha;
}

ol.lower-roman {
	list-style:lower-roman;
}

dd,dt,li {
	padding:0.40384625em 0;
}